{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}

{% block body %}
        <main>
                <!-- Début Section Accueil : image et texte-->
                <section class="section_bg_img flex jc-center ai-center">
                    <div class="ta-center white mb-5">
                        <h1 id="main_titre" class="shadow_contour"><Strong>Menu</Strong></h1>
                    </div>
                </section>
                <!-- Fin Section Accueil-->
            <section class="section_multi_menu">
                    <div class="choix_multi_menu">

                    {% for cat in categories %}

                        {% if cat.id == 1 %}

                            <div class="onglet active police_description_gras" data-num="{{ cat.id }}"><p class="m-0"><Strong>{{cat.nom}}</Strong></p>
                            </div>
                        
                        {% else %}
                        
                            <div class="onglet police_description_gras" data-num="{{ cat.id }}"><p class="m-0"><Strong>{{cat.nom}}</Strong></p>
                            </div>

                        {% endif %}

                    {% endfor %}
                    
                   </div>
                   
                   <div class="container_menu wrapper">

                   {% for cat in categories %}

                   {% if cat.id == 1 %}

                            <div class="products_container  police_description_gras visible" data-num="{{ cat.id  }}">

                        {% else %}

                            <div class="products_container  police_description_gras" data-num="{{ cat.id  }}">

                        {% endif %}

                        {% for menu in menus %}
                        {% if menu.categorie.id == cat.id %}
                     
                                    <div class="div_product">
                                        <img class="img_product" src="{{ asset('img/Upload/' ~  menu.image ~ '') }}" alt="{{menu.nom}}">
                                        <h3><Strong class="police_description">{{menu.nom}}</Strong></h3>
                                    </div>
                        {% endif %}

                        {% endfor %}
                        
                                </div>

                    {% endfor %}
                    
                </div>
            </section>
        </main>
        
    {% block javascripts %}
        <script src="{{ asset('js/onglets.js')}}"></script>
    {% endblock %}
{% endblock %}
