<h1>Une Nouvelle Réservation :</h1>


<p>Une réservation pour le {{ date|date("d/m/Y") }} à {{ heure|date('H:i') }}.</p>
<p>Au nom de {{ nom }}</p>
<p>Pour {{ nbAdulte }} Adulte, {{ nbEnfant }} Enfant et {{ nbBebe }} Bébé.</p>

<p>Son Téléphone :"{{ telephone }}".</p>
<p>Son email :"{{ mail }}".</p>
