<h1>Récapitulatif de Votre Réservation :</h1>


<p>Vous avez réservé une table pour le {{ date|date("d/m/Y") }} à {{ heure|date('H:i') }}.</p>
<p> Au nom de {{ nom }}</p>
<p>Pour {{ nbAdulte }} Adulte, {{ nbEnfant }} Enfant et {{ nbBebe }} Bébé.</p>
<p>En cas d'impossibilité nous vont contacterons via le numéro fourni "{{ telephone }}".</p>

<p>Si vous n'avez plus la possibilité de venir veuillez nous prevenir : 03 88 60 54 54</p>